
 .l-red{
     color: #c1121f
 }
 .l-grey{
     color: #00304a 
 }
 .l-yellow{
     color:#fdf0d5;
 }
 .caption{
    font-style: italic;   
    text-align: right;
    
    
 }
 .hashtag{
    font-family: sans-serif;
        text-align: center;
   
 }

 @media only screen and (max-width: 768px) {
    .caption{
       
        font-size: medium;       
        width: 72vw;
        font-weight: 900;
     }
     .hashtag{
        
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        margin-top: 3vh;
     }
     .sp{
        font-size: 32px;
     }
  }


  ///des
  @media only screen and (min-width: 768px) {
    .logo-text{
        font-weight: 1000px;
        font-size: 5vw;
     }
     .caption{       
        font-size: medium;     
        width: 40vw;
        font-weight: 900;
     }
     .hashtag{
       
        font-size: 1.75vw;
        font-weight: bold;
        text-align: center;
        margin-top: 1vh;
     }
  }